html {
    background-image: url("images/fundo-game.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: #f0f0f0; */

}

h1 {
    margin-top: 20px;
}

#Canvas {
    border: 2px solid #4CAF50;
    display: block;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#startButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#score {
    font-size: 24px;
    margin-top: 10px;
}